<main>
  <nav>
    <span>[isma@fullstack-alpha~]$</span>
    <span class="cursor"></span>
    <div class="social-nav">
      <a href="https://github.com/ismaproco">
        <object type="image/svg+xml" data="https://s3.amazonaws.com/hash.isma.xyz/lineicons/github.svg" class="linkedin">
        github
        </object>
      </a>
      <a href="https://www.linkedin.com/in/ismapro/">
        <object type="image/svg+xml" data="https://s3.amazonaws.com/hash.isma.xyz/lineicons/linkedin.svg" class="linkedin">
        linkedin
        </object>
      </a>
      <a href="https://twitter.com/ismapro">
        <object type="image/svg+xml" data="https://s3.amazonaws.com/hash.isma.xyz/lineicons/twitter.svg" class="linkedin">
        twitter
        </object>
      </a>
    </div>
  </nav>
  <header>
    <h1>
      Hi I'm Isma, a Full Stack Developer.
    </h1>
  </header>

  <section class="content">
    <section class="avatar-container">
      <img src="https://images.pexels.com/users/avatars/490798/ismael-jimenez-946.jpeg" alt="isma avatar" class="avatar">
    </section>

    <section>
      <h3>About me:</h3>
      <p> 
        I love web development, from the most elegant web pages with just the minimum information and pure html/css to the fully intercative web applications that use the latest frameworks and trends. 
        Even if I consider my biggest stregths in the frontend I have also experience working in the backend making use primarly of Python and NodeJs.

        I'm always eager to learn and try different technoligies, programming languages or embeded devices using the fabouluous raspberry pi.
      </p>
    </section>

    <section>
      <h3>
        Frontend
      </h3>
      <ul>
        <li>Angular / Vue</li>
        <li>CSS / SCSS / LESS</li>
        <li>Javascript / ES6</li>
        <li>Typescript</li>
      </ul>
      <h3>Backend</h3>
      <ul>
        <li>Python (Flask)</li>
        <li>NodeJS (Express / Nest)</li>
      </ul>
      <h3>Others</h3>
      <ul>
        <li>Docker</li>
        <li>AWS</li>
        <li>Google Cloud</li>
        <li>Git</li>
      </ul>
    </section>

    <section>
      <h3>
        Languages
      </h3>
      <ul>
        <li>Spanish</li>
        <li>English</li>
      </ul>
    </section>
  </section>

  <footer>
    2019
  </footer>
</main>